<div class="card-deck mb-3 text-center" *ngIf="idUser && idUser.role === 'ROLE_ADMIN'">
  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Autores</h4>
    </div>
    <div class="card-body">
      <ul class="list-group">
        <a href="#" class="list-group-item list-group-item-action">Añadir autor</a>
        <a href="#" class="list-group-item list-group-item-action">Modificar autor</a>
        <a href="#" class="list-group-item list-group-item-action">Borrar autor</a>
      </ul>
    </div>
  </div>
  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Libros</h4>
    </div>
    <div class="card-body">
      <ul class="list-group">
        <a href="#" class="list-group-item list-group-item-action">Añadir libro</a>
        <a href="#" class="list-group-item list-group-item-action">Modificar libro</a>
        <a href="#" class="list-group-item list-group-item-action">Borrar libro</a>
      </ul>
    </div>
  </div>
  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Usuarios</h4>
    </div>
    <div class="card-body">
      <ul class="list-group">
        <a href="#" class="list-group-item list-group-item-action">Añadir usuario</a>
        <a href="#" class="list-group-item list-group-item-action">Modificar usuario</a>
        <a href="#" class="list-group-item list-group-item-action">Borrar usuario</a>
      </ul>
    </div>
  </div>
</div>
