<div class="col-12 mb-4">
  <h2>Registrarse</h2>
  <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
    <h4>Error:</h4>
    <p>{{errorMessage.error.message}}</p>
  </div>
  <div *ngIf="okMessage" class="alert alert-success" role="alert">
    <h4>Info:</h4>
    <p>{{okMessage}}</p>
  </div>
  <form #registerForm="ngForm" (ngSubmit)="onSubmitRegister()">
    <div class="form-group">
      <input type="text" class="form-control" #userRegName="ngModel" name="userRegName" [(ngModel)]="user.name" id="userRegName" placeholder="Nombre">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" #userRegSurname="ngModel" name="userRegSurname" [(ngModel)]="user.surname" id="userRegSurname" placeholder="Apellidos">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" #userRegUsername="ngModel" name="userRegUsername" [(ngModel)]="user.username" id="userRegUsername" placeholder="Nombre de usuario">
    </div>
    <div class="form-group">
      <input type="email" class="form-control" #userRegEmail="ngModel" name="userRegEmail" [(ngModel)]="user.email" id="userRegEmail" placeholder="Correo electrónico">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" #userRegPass="ngModel" name="userRegPass" [(ngModel)]="user.password" id="userRegPass" placeholder="Contraseña">
    </div>
    <div class="form-group">
      <label for="userRegUserPic">Sube tu imagen de perfil</label>
      <input type="file" class="form-control-file" #userRegUserPic="ngModel" name="userRegUserPic" [(ngModel)]="user.image" id="userRegUserPic">
    </div>
    <button type="submit" class="btn btn-primary">Registrarse</button>
  </form>
</div>
