<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
  <a class="navbar-brand" routerLink="home">Bookies</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" *ngIf="!idUser">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['authors/', 1]" routerLinkActive="active">Autores</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['books/', 1]" routerLinkActive="active">Catálogo de libros</a>
        </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Acceder a tu perfil
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="login">Iniciar sesión</a>
          <a class="dropdown-item" routerLink="register">Darse de alta</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto" *ngIf="idUser">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['authors/', 1]" routerLinkActive="active">Autores</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['books/', 1]" routerLinkActive="active">Catálogo de libros</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tu perfil
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" *ngIf="idUser">
          <div class="dropdown-item">
              <img src="{{apiURL + 'get-image-user/' + idUser.image}}" width="30" height="30" class="d-inline-block align-top" alt="">
              {{idUser.name}}
          </div>
          <a class="dropdown-item" routerLink="user-orders">Tus pedidos</a>
          <a class="dropdown-item" routerLink="user-orders">Tus listas de favoritos</a>
          <a class="dropdown-item" routerLink="edit-user">Editar perfil</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()" href="#">Cerrar sesión</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
